@font-face {
  font-family: IRANYekanRegular;
  font-style: normal;
  font-weight: bold;
  src: url('./font/Woff/IRANYekanXFaNum-Bold.woff') format('woff'),
  url('./font/Woff2/IRANYekanXFaNum-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanRegular;
  font-style: normal;
  font-weight: normal;
  src: url('./font/Woff/IRANYekanXFaNum-Regular.woff') format('woff'),
  url('./font/Woff2/IRANYekanXFaNum-Regular.woff2') format('woff2');
}
.regular {
  font-family: "IRANYekanRegular";
}